<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.nitroshare.android">

    <!-- Internet required for mDNS and transfer -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Storage access required for transferring files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Enables the broadcast and transfer services to run at boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Intro activity -->
        <activity
            android:name=".ui.MainIntroActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro">
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".ui.transfer.TransferActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Explorer activity -->
        <activity
            android:name=".ui.explorer.ExplorerActivity"
            android:label="@string/activity_explorer"
            android:parentActivityName=".ui.transfer.TransferActivity"/>

        <!-- Share activity -->
        <activity
            android:name=".ui.ShareActivity"
            android:label="@string/activity_share">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <!-- Settings activity -->
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".ui.transfer.TransferActivity"/>

        <!-- About activity -->
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/activity_about"
            android:parentActivityName=".ui.transfer.TransferActivity"/>

        <!-- Service for transfers -->
        <service
            android:name=".transfer.TransferService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Receiver for actions that might require the service to start -->
        <receiver android:name=".misc.StartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>